<mat-nav-list closed>
 

  <mat-divider></mat-divider>

  <mat-accordion class="example-headers-align" [multi]="false">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>fingerprint</mat-icon>

        </mat-panel-title>
        <mat-panel-description>
          Identificação

        </mat-panel-description>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/" [routerLinkActiveOptions]="{exact:
      true}">
        Relatórios
      </a>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>work</mat-icon>

        </mat-panel-title>
        <mat-panel-description>
          Vida Funcional

        </mat-panel-description>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/parceiro/salvar" [routerLinkActiveOptions]="{exact:
    true}">
        Cadastar
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/parceiro/todos" [routerLinkActiveOptions]="{exact:
    true}">
        Listar
      </a>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>timer</mat-icon>

        </mat-panel-title>
        <mat-panel-description>
          Contagem de Tempo

        </mat-panel-description>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/veiculo/salvar" [routerLinkActiveOptions]="{exact:
    true}">
        Cadastar
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/veiculo/todos" [routerLinkActiveOptions]="{exact:
    true}">
        Listar
      </a>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>monetization_on</mat-icon>

        </mat-panel-title>
        <mat-panel-description>
          Remuneração/Proventos

        </mat-panel-description>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/segmento/salvar" [routerLinkActiveOptions]="{exact:
    true}">
        Cadastar
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/segmento/todos" [routerLinkActiveOptions]="{exact:
    true}">
        Listar
      </a>

    </mat-expansion-panel>

        <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>free_breakfast</mat-icon>

        </mat-panel-title>
        <mat-panel-description>
          Benefícios

        </mat-panel-description>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/beneficio" [routerLinkActiveOptions]="{exact:
    true}">
        Cadastar
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/beneficio/todos" [routerLinkActiveOptions]="{exact:
    true}">
        Listar
      </a>

    </mat-expansion-panel>

  </mat-accordion>

</mat-nav-list>