<mat-card>
<br>
<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
<mat-form-field appearance="fill">
  <mat-label>Local de origem</mat-label>
  <mat-select [formControl]="setorDe" >
    <mat-option *ngFor="let setor of setores$ | async" [value]="setor">{{setor.nomeSetor}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Local de destino</mat-label>
  <mat-select [formControl]="setorPara">
    <mat-option *ngFor="let setor of setores$ | async" [value]="setor">{{setor.nomeSetor}}</mat-option>
  </mat-select>
</mat-form-field>
 <button mat-raised-button color="primary" (click)="tramitar()">Tramitar</button>
</div>
<br>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{element.id}}"> {{element.id.substring(0, 10)}} </td>
  </ng-container>


  <ng-container matColumnDef="dataTramitacao">
    <th mat-header-cell *matHeaderCellDef> Data Tramitação </th>
    <td mat-cell *matCellDef="let element"> {{element.dataTramitacao}} </td>
  </ng-container>


  <ng-container matColumnDef="localOrigem">
    <th mat-header-cell *matHeaderCellDef> Local de Origem </th>
    <td mat-cell *matCellDef="let element"> {{element.localOrigem}} </td>
  </ng-container>


  <ng-container matColumnDef="localDestino">
    <th mat-header-cell *matHeaderCellDef> Local de Destino </th>
    <td mat-cell *matCellDef="let element"> {{element.localDestino}} </td>
  </ng-container>

 <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> Usuário </th>
    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
  </ng-container>

    <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog('adicionar',element)">
                    <mat-icon>edit</mat-icon>
                    <span>Adicionar arquivos</span>
                </button>
                <button mat-menu-item (click)="openDialog('ver',element)">
                    <mat-icon>visibility</mat-icon>
                    <span>Ver documentos</span>
                </button>
                <button mat-menu-item (click)="openDialog('tramites',element)">
                    <mat-icon>visibility</mat-icon>
                    <span>Tramites</span>
                </button>
            </mat-menu>

        </td>
    </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<span *ngIf="resultsLength == 0">Processo ainda não tramitado</span>
<mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
</mat-card>