<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>


  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
  </ng-container>


  <ng-container matColumnDef="orgao">
    <th mat-header-cell *matHeaderCellDef> Orgão </th>
    <td mat-cell *matCellDef="let element"> {{element.orgao}} </td>
  </ng-container>

 <ng-container matColumnDef="matricula">
    <th mat-header-cell *matHeaderCellDef> Matrícula </th>
    <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
  </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog('adicionar',element)">
                    <mat-icon>edit</mat-icon>
                    <span>Adicionar arquivos</span>
                </button>
                <button mat-menu-item (click)="openDialog('ver',element)">
                    <mat-icon>visibility</mat-icon>
                    <span>Ver documentos</span>
                </button>
            </mat-menu>

        </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- 
<object
  data="/assets/documentos/Marcos_Ferreira_-_Fullstack_Developer.pdf"
  type="application/pdf"
  width="91%"
  style="margin-left: 200px;margin-right: 15px;"
  height="80%">
</object> -->